body {
  background-color: floralwhite;
}

h1{color:Black;}
body {color: black;}
h1.a{color: hotpink;}



body{font-family: 'Pridi', serif;}
h1.a{font-family: 'Abel', sans-serif;}
h1.a {font-size: 80px;}

a{text-decoration: none}
